@import '~materialize-css/dist/css/materialize.min.css';
/* label focus color */
.input-field input[type='text']:focus + label,
.input-field input[type='password']:focus + label,
.input-field input[type='email']:focus + label {
	color: #64b5f6 !important;
}
/* label underline focus color */
.input-field input[type='text']:focus,
.input-field input[type='password']:focus,
.input-field input[type='email']:focus {
	border-bottom: 1px solid #64b5f6 !important;
	box-shadow: 0 1px 0 0 #000;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
