@import '~materialize-css/dist/css/materialize.min.css';
/* label focus color */
.input-field input[type='text']:focus + label,
.input-field input[type='password']:focus + label,
.input-field input[type='email']:focus + label {
  color: #64b5f6 !important;
}
/* label underline focus color */
.input-field input[type='text']:focus,
.input-field input[type='password']:focus,
.input-field input[type='email']:focus {
  border-bottom: 1px solid #64b5f6 !important;
  box-shadow: 0 1px 0 0 #000;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.search-sidebar {
  display: flex;
  align-items: center;
}
.nav-avi {
  width: 35px;
  height: 35px;
}
.nav-dropdown {
  display: flex;
  align-items: center;
}
.btn-nav {
  background: none;
  border: none;
}
.btn-nav :focus {
  background: none;
}
/* Pagination styles */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-li button {
  background: none;
  color: #444444;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.pagination-li button.active {
  background: #64b5f6;
  color: #fff;
}

/* Nav styles */
#dropdown1 {
  margin-top: 30px;
}

.sidenav {
  margin-top: 65px;
  position: fixed;
}
.sidenav-fixed {
  position: absolute !important;
}
.sidenav li {
  padding: 5px 30px;
}
/** User styling */
.user-post-img {
  width: 100%;
}

.user-avi img {
  width: 100%;
}
.user-card {
  margin-top: 20px;
}

.user-post {
  box-shadow: 0px -3px 3px 1px rgba(0, 0, 0, 0.52);
  margin-bottom: 30px;
  min-height: 50vh;
}

/** Post Card */
.post-page {
  margin-top: 30px;
}
.post-page-title {
  font-size: 26px;
}
.post-page-p {
  font-size: 18px;
}
.post-icon-div {
  display: flex;
  align-items: center;
}
.post-icon {
  color: grey;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.3s;
}
.post-icon.active {
  color: red;
  transform: scale(1.2);
}
.post-cardaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-like-btn {
  border: 0;
}
.post-like-btn:focus {
  background: none;
}
.comment-btn {
  border: none;
  background: none;
  color: grey;
  cursor: pointer;
}
.comment-btn:focus {
  background: none;
}
.friends-div {
  margin-top: 30px;
}
.requests-div {
  margin-top: 30px;
}
.addfriend-btn {
  color: #000;
  border: none;
  background: none;
}
.addfriend-btn:focus {
  background: none;
}
